html, body {
    height:100%;
}

body {
    margin:0;
    font-family:'Play', sans-serif;
    color:white;
    overflow:hidden;
}

.container {
    width:90%;
    height:100%;
    margin:0 auto;
}

.footer-area {
    position: fixed;
    bottom: 2%;
    right: 5%;
}

.social-icons {
    display:flex;
}

.social-icons img {
    height:50px;
    width:auto;
    margin:0 0.5rem;
}

.banner-area {
    height:100vh;
    background:url(../assets/img/spacebackground.jpg);
    background-size:contain;
    position:relative;
    overflow:hidden;
}

.banner-area h1{
    display:none
}   

.background-crewmate-1 {
    position:absolute;
    top:10%;
    left:10%;
    animation-name:spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3000ms;
}

.background-crewmate-2 {
    position:absolute;
    top:20%;
    right:15%;
    animation-name:spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5000ms; 
}

.background-crewmate-3 {
    position:absolute;
    bottom:11%;
    left:40%;
    animation-name:spin;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 7000ms;
}

.background-crewmate-ejected {
    position:absolute;
    top:40%;
    left:-80px;
}

.eject-animation {
    animation-name:eject;
    animation-timing-function: linear;
    animation-duration: 7000ms;
}

.banner_text-area {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
}

.banner_sus-area {
    margin-top:2rem;
}

.banner_text-area button {
    border:none;
    padding:1.5rem 1rem;
    border-radius:10px;
    font-size:20px;
    font-family:'Play', sans-serif;
    cursor: pointer;
}

.banner_text-area button:focus,button:active {
    outline:none;
}

/* Media Queries */

@media (min-width:1024px) {
    .banner-area h1 {
        display:block;
    }

    .banner_text-area {
        height:80%;
    }
}

/* Crewmates */

.crew {
    background-size:100%;
    width:80px;
    height:80px;
}

.red-crew {
    background-image:url('../assets/img/red.png');
}
.black-crew {
    background-image:url('../assets/img/black.png');
}
.brown-crew {
    background-image:url('../assets/img/brown.png');
}
.cyan-crew {
    background-image:url('../assets/img/cyan.png');
}
.darkblue-crew {
    background-image:url('../assets/img/darkblue.png');
}
.darkgreen-crew {
    background-image:url('../assets/img/darkgreen.png');
}
.lightgreen-crew {
    background-image:url('../assets/img/lightgreen.png');
}
.orange-crew {
    background-image:url('../assets/img/orange.png');
}
.pink-crew {
    background-image:url('../assets/img/pink.png');
}
.purple-crew {
    background-image:url('../assets/img/purple.png');
}
.white-crew {
    background-image:url('../assets/img/white.png');
}
.yellow-crew {
    background-image:url('../assets/img/yellow.png');
}


@keyframes spin{
    from {
        transform:rotate(0deg);
    }

    to {
        transform:rotate(360deg);
    }
}

@keyframes eject {
    from {
        transform:translateX(-1vw) rotate(0deg) scaleX(-1);
    }

    to {
        transform:translateX(130vw) rotate(720deg) scaleX(-1);
    }
}